language: php
php:
    - 5.6
    - 7.0
    - hhvm

before_install:
  - composer self-update

install:
  - composer update --no-interaction --prefer-source --dev $COMPOSER_EXTRA_ARGS

script: phpunit --configuration phpunit.xml --coverage-text
